
#tagButton{
    -fx-background-color: transparent;
    -fx-font-size: 18;
    -fx-text-fill: black;
}

#tagButton:hover{
    -fx-background-color: transparent;
    -fx-font-size: 18;
    -fx-text-fill: blue;
}

/* This is cs config for the element with the id: boardPane*/
#boardPane{
    -fx-background-color:  #6096B4;
}

#collectionContainer{
    -fx-background-color: transparent;
}

#collectionContainer .viewport {
       -fx-background-color: transparent;
}

.shortcut{
    -fx-background-color: transparent;
}

.shortcut .viewport{
    -fx-background-color: transparent;
}

/* This is a css config for the class of image Buttons*/
.imageButton{
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#boardChoiceBox{
    -fx-background-color: #93BFCF;
}

#boardChoiceBox .list-cell {
    -fx-text-fill: black;
    -fx-background-color: #93BFCF;
}

#boardChoiceBox .list-cell:selected {
    -fx-text-fill: white;
}

.collection{
    -fx-background-color: #BDCDD6;
    -fx-background-radius: 20;

}

.collection .list-cell{
    -fx-padding: 10 10 10 10 ;
    -fx-border-radius: 20;
    -fx-background-color: transparent;
}

.collection .scroll-bar:vertical .increment-arrow,
.collection .scroll-bar:vertical .decrement-arrow,
.collection .scroll-bar:vertical .increment-button,
.collection .scroll-bar:vertical .decrement-button {
    -fx-padding:0;
}

 /* This is a css config for the class of image Buttons*/
 .addButton{
     -fx-background-color: transparent;
     -fx-background-repeat: no-repeat;
     -fx-background-position: center;
      -fx-padding: 0 0 0 60;
 }

.collectionLabel{
    -fx-font-size: 18pt;
     -fx-padding: 0 0 0 60;
}

.simpleAddTaskButton{
    -fx-font-size: 10px;
    -fx-background-color: #00ff2b;
    -fx-text-fill: black;
    -fx-border-radius: 20;
    -fx-border-color: #000000;
    -fx-border-width: 2;
    -fx-background-radius: 20;
}



