/* This is cs config for the element with the id: boardOverviewPane*/
#boardOverviewPane{
    -fx-background-color:  #6096B4;
}

#boardContainer{
    -fx-background-color: transparent;
}
#boardContainer .scroll-bar:horizontal .increment-arrow,
#boardContainer .scroll-bar:horizontal .decrement-arrow,
#boardContainer .scroll-bar:horizontal .increment-button,
#boardContainer .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

#boardContainer .viewport {
    -fx-background-color: transparent;
}

#headingBoard {
    -fx-font-size: 36;
}

.boardOverviewButton{
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 15;
    -fx-padding: 10 10 10 10;
    -fx-border-radius: 15;
    -fx-border-color: #000000;
    -fx-border-insets: -.25;
    -fx-background-color: #93BFCF;
}